.paragrafo {
    font-size: 2.15vh;
    padding-bottom: 0.6vh;
    text-align: justify;
    line-height: 2.5vh;
}

.button {
    display: inline-block;
    padding: 1.3vh 5vh;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #25a096;
    color: white;
    border-radius: 28px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    color: #25a096;
    background-color: transparent;
    border: 01px solid #25a096;
    padding: 1.3vh 5vh;
}