.link {
  color: white;
  font-size: 1rem;
  padding-bottom: 0.25rem;
  cursor: pointer;
}

.link:hover {
  color: #25a096;
  font-weight: 600;
}

@media (max-width: 575.98px) {}

@media (min-width: 576px) and (max-width: 767.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 1200px) {}